@import "./global.css";

body {
  background-color: #141313;
  font-family: "Inter";
}

.container {
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigation {
  background-color: #1f1f1f;
  width: 384px;
  height: 611px;
  padding: 40px;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation img {
  width: 88px;
  margin-bottom: 24px;
}

h1 {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

address {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #c4f82a;
  text-align: center;
  font-style: normal;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 24px;
}

.link-box {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 304px;
  border-radius: 7px;
  background-color: #333333;
  margin-bottom: 16px;
  color: #fff;
  padding: 12px 0;
}

.link-box:hover {
  background-color: #c4f82a;
  color: #141313;
}

@media screen and (max-width: 400px) {
  .navigation {
    width: 327px;
  }
}

@media screen and (max-width: 340px) {
  .navigation {
    width: 300px;
  }

  .link-box {
    width: 250px;
  }
}

@media screen and (max-width: 300px) {
  .navigation {
    width: 270px;
  }

  .link-box {
    width: 220px;
  }
}
